# Note that this docker-compose file is parameterised with
# environment variables
# See the relating .env file for parameters that should be configured.

services:
  location-history-server:
    image: jackpfarrelly/location-history-server:latest
    container_name: location-history-server
    restart: unless-stopped
    volumes:
      - "${DATA_DIR}:/data"
    ports:
      - ${BEACON_PORT}:8080
      - ${ADMIN_PORT}:8081
    environment:
      - SERVER_NAME=${SERVER_NAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - STORAGE_TYPE=${STORAGE_TYPE}
  location-history-ui-proxy:
    image: jackpfarrelly/location-history-ui-proxy:latest
    container_name: location-history-ui-proxy
    restart: unless-stopped
    ports:
      - ${PROXY_PORT}:8080
    command:
      - "--backend_addr=location-history-server:8081"
      - "--run_tls_server=false"
      - "--allow_all_origins"
  location-history-ui:
    image: jackpfarrelly/location-history-ui:latest
    container_name: location-history-ui
    restart: unless-stopped
    ports:
      - ${UI_PORT}:80
    environment:
      - MAP_TYPE=${MAP_TYPE}
      - MAPTILER_API_KEY=${MAPTILER_API_KEY:-}
      - PROXY_URL=http://${SERVER_NAME}:${PROXY_PORT}
