/* MLMap.module.css */
.mapArea {
    position: relative;
    width: 100%;
    height: 100%;
}

.mapSettings {
    position: absolute;
    right: 10px;
    bottom: 150px;
    z-index: 1000;
}

/* Scoped Ant Design Overrides */
.segmentedControl {
    width: 30px;
    background-color: white;
    border: 1px solid #ccc;
}

.segmentedControl :global(.ant-segmented-item) {
    padding: 0;
    display: flex;
    justify-content: center;
}

.segmentedControl :global(.ant-segmented-item-label) {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
}