name: Build Server

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      publish:
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        if: inputs.publish
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: sbt

      - uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.11.7

      - name: Build Shared
        working-directory: ./shared
        run: make compile publish

      - name: Lint
        working-directory: ./server
        run: make lint

      - name: Unit Test
        working-directory: ./server
        run: make test

      - name: Integration Test
        working-directory: ./server
        run: make integration-test

      - name: Build
        working-directory: ./server
        run: make compile

      - name: Package
        working-directory: ./server
        run: VERSION="${{ inputs.version }}" make package

      - name: Release
        if: inputs.publish
        working-directory: ./server
        run: VERSION="${{ inputs.version }}" make release