name: Main Build

on:
  push:
    branches: [ "main" ]

jobs:
  build-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '22'
          distribution: 'openjdk'

#      - name: Install sbt
#        uses: olafurpg/setup-scala@v17
#        with:
#          java-version: '22'
#          sbt-version: '1.11.7' # or whatever you use

#      - name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Test Server
        run: make -C server test

      - name: Build Server
        run: make -C server compile

#      - name: Release
#        run: make release