name: PR Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: sbt

      - uses: sbt/setup-sbt@v1

      - name: Test
        run: make -C server test

      - name: Build
        run: make -C server compile

#      - name: Package
#        run: make package